@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");


.voteOptions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteOptions >button{
  margin: 8px 5px 10px 0;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #8854c0;
  color: white;
  min-width: 200px;
  width:fit-content;
  border-bottom: 4px solid #6c4298;
  transition: background-color 0.5s;
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  font-size: 20px;
  transition: border-bottom 0.2s,background-color 0.3s;
}

.voteOptions> button:hover {
  background-color: #a076cc;
  cursor: pointer;
}
.voteOptions>button:active {
  border-bottom: 0px solid #8854c0;
}

