.nav-bar{
    width: 100%;
    top: 5px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.app-logo{
    left: 10px;
    width: 100px;
    object-fit: contain;
}

.nav-features{
    flex: 0.2;
    position: fixed;
    right: 10px;
    display: flex;
    align-items: center ;
    justify-content: space-around;
}
.back-arrow{
    position: fixed;
    left: 10px;
    width: 30px;
    transition: background-color 0.2s ease-in-out;
}

.back-arrow:hover{
    cursor: pointer;
    background-color:lightgray ;
    border-radius: 20px;
}

.nav-button{
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    outline: none;
}
.nav-button:hover{
    background-color: darkgray;
    color: white;
}
