@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

.bar {
  display: flex;
  align-items: center;
  height: 20px;
  animation: grow 3s forwards;
  padding: 10px;
  margin: 20px 20px 0 0 ;
  /* border-left: 2px solid black; */
  transition: padding 1s;
} 
.bar > h2 {
  color: aliceblue;
}
.pollOptions {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "Source Sans Pro", sans-serif;
}
.voteData{
  display: flex;
  flex: 1;
  border-left: 1px solid black;
  margin-left: 20px;
}
.voteLabels {
  width: 50px;
  height: fit-content;
  /* margin: 20px; */
}
.voteCount {
  font-size: 20px;
  font-weight: 500;
}
.bar:hover {
  padding: 30px;
}
@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
